body {
    background-image: url(imgs/fondos-para-páginas-web-6.jpg);
}
h1 {
    text-align: center;
    margin-top: 250px;
    color: white;
    font-size: 50px;
}
#inputs {
    display: flex;
    justify-content: center;
}
#inputs select{
    width: 56px;
    height: 24px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
}
#getInto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
}
#getInto button{
    width: 80px;
    height: 32px;

}
#getInto #message{
    color: white;
    font-size: 24px;
}
#nextPage {
    text-align: right;
    margin: 300px 100px 0 0;
}
#nextPage a {
    text-decoration: none;
    color: white;
font-size: 24px;
}